@font-face {
    font-family: "JetBrains Sans";
    src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
    background-color: #000000;
}

h1 {
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
}

.title {
    margin-bottom: 40px;
}

#app {
    width: 100%;
}

.logo {
    position: absolute;
    top: 45px;
    left: 20%;
    z-index: 10;
}

img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    gap: 0;
    justify-content: center;
    align-content: end;
    min-height: 100vh;
    width: 100%;
    background-image: 
        linear-gradient(to right, #222 1px, transparent 1px),
        linear-gradient(to bottom, #222 1px, transparent 1px);
    background-size: 200px 200px;
    background-position: center bottom;
}

.grid-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
}

.potential-room {
    transition: background-color 0.3s ease;
}

.potential-room:hover {
    outline: 1px solid #00ff00;
    outline-offset: -2px;
    background-color: rgba(0, 255, 0, 0.25);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.technologies {
    margin-bottom: 36px;
    align-self: center;
}

.technologies img {
    max-width: fit-content;
}


@media (max-width: 875px) {

    .logo {
        margin-top: 10px;
    }

    .title {
        margin-bottom: 30px;
    }
}
